{% extends 'layoutPrincipal.html' %}
{% block title %}
Tapple
{% endblock %}

{% block body %}


<section class="flex p-4 justify-center w-full flex-wrap my-12">
    <div class="w-[800px]">
        <p class="text-5xl text-center my-12">Preguntas mas frecuentes</p>
        <div class="relative mb-3">

            <h6 class="mb-0">
                <button class="border-slate-100 text-slate-700 rounded-t-1 group relative 
            flex w-full cursor-pointer items-center border-b border-solid p-4 
            text-left font-semibold text-dark-500 transition-all ease-in justify-between px-8">
                    <span>¿Como devuelvo mi producto?</span>
                    <img src="{{ url_for('static', filename='chevron-down.svg') }}" alt="">
                </button>
            </h6>

        </div>
        <div class="relative mb-3">

            <h6 class="mb-0">
                <button class="border-slate-100 text-slate-700 rounded-t-1 group relative 
            flex w-full cursor-pointer items-center border-b border-solid p-4 
            text-left font-semibold text-dark-500 transition-all ease-in justify-between px-8">
                    <span>¿Como reclamo mi garantia?</span>
                    <img src="{{ url_for('static', filename='chevron-down.svg') }}" alt="">
                </button>
            </h6>

        </div>
        <div class="relative mb-3">

            <h6 class="mb-0">
                <button class="border-slate-100 text-slate-700 rounded-t-1 group relative 
            flex w-full cursor-pointer items-center border-b border-solid p-4 
            text-left font-semibold text-dark-500 transition-all ease-in justify-between px-8">
                    <span>¿Como instalo Tapple IA?</span>
                    <img src="{{ url_for('static', filename='chevron-down.svg') }}" alt="">
                </button>
            </h6>

        </div>
    </div>
</section>

<!-- BANDEJA DE MENSAJE -->

<div class="justify-center flex flex-col mt-10 mb-8 md:mx-12">

    <div class="px-4 pt-4 mb-2 sm:mb-0">

        <div class="relative flex">

            <input type="text" placeholder="Mandale un mensaje a nuestros asesores..." class="w-full focus:outline-none focus:placeholder-gray-400 
                text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-md py-3 hover:shadow-inner">


            <div class="absolute right-0 items-center inset-y-0 hidden sm:flex">
                <button type="button"
                    class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="h-6 w-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13">
                        </path>
                    </svg>
                </button>
                <button type="button" class="inline-flex items-center justify-center rounded-lg px-4 py-3 
                    transition duration-500 ease-in-out text-white bg-blue-500 
                    hover:bg-blue-400 focus:outline-none">

                    <span class="font-bold">Enviar</span>

                    <svg viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 ml-2 transform rotate-90">
                        <path
                            d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
                        </path>
                    </svg>
                </button>

            </div>
        </div>

    </div>

</div>

<div class="mb-8 flex justify-center w-full">
    <a class="text-blue-500" href="https://docs.google.com/forms/d/e/1FAIpQLSdQwvftmiaGBKnwSF0oRLit-4QUbsqQ8kNwCFS54bLvxi5Zmw/viewform">Si no pudimos resolver tus dudas, contactanos haciendo clic aquí.</a>
</div>

{% endblock %}